
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



$body-font-family: 'Lato';
$title-font: 'Lato';


.v-application {
    font-family: $body-font-family, sans-serif !important;
     .title { // To pin point specific classes of some components
        font-family: $title-font, sans-serif !important;
     }
  }
@import '~vuetify/dist/vuetify.min.css';

@import '~@fortawesome/fontawesome-free/css/all.min.css';
// @import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
// @import '~@fortawesome/fontawesome-free/css/solid.min.css';
